<%- include ("../partials/head.ejs") %>

<main>
    <h1 class="header">Woordenlijsten</h1>
    <div class="listview-content">
        <div class="wordlists-container">
            <% if(typeof (wordLists) != "undefined") { %>
                <% wordLists.forEach(wordlist => { %>
                    <a class="square-link" href="word-lists/<%= wordlist.id %>">
                        <button class="rect-item"><%= wordlist.data().name %></button>
                    </a>
                <% }); %>
            <% } %>
            <a class="square-link" href="word-lists/add-list">
                <button class="rect-item add">+</button>
            </a>
        </div>
    </div>
</main>

<%- include ("../partials/footer.ejs") %>