<%- include ("../partials/head.ejs") %>

<main>
    <h1 class="header">Woordenlijsten</h1>
    <div class="content">
        <h2>Woordenlijst naam</h2>
        <div class="wordlist-add-container">
            <a class="square-link" href="add-list/manual">
                <button class="wordlist-item wordlist-add-select">Handmatig invullen</button>
            </a>
            <form method="post" enctype="multipart/form-data">
                <label for="file" class="file-input-label">Selecteer een lijst</label>
                <input type="file" accept=".xlsx, .xls, .csv" name="file" id="file" class="hidden-file-input"
                       title="Selecteer een lijst" required>
                <input class="form-button success-button" name="save-image" type="submit" value="Lijst Uploaden">
            </form>
        </div>
    </div>
</main>

<%- include ("../partials/footer.ejs") %>