<%- include ("../partials/head.ejs") %>

<main>
    <h1 class="header">Dashboard</h1>
    <div id="dashboard-content" class="content">
        <h2>Welkom op vocab!</h2>
        <a href="/cms/dashboard">Dashboard</a>
        <a href="/cms/word-lists">Woordenlijsten</a>
        <a href="/cms/class-lists">Klassenlijsten</a>
    </div>
</main>

<%- include ("../partials/footer.ejs") %>