<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="Login page for cms of vocab">
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/cms.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title><%= title %></title>
</head>
<body>

<div id="auth-container">
    <div id="login-form" class="auth-form">
        <h1><span>v</span><span class="red-letter">o</span><span>c</span><span class="red-letter">a</span><span>b</span>
        </h1>
        <input id="username-input" class="form-input" type="email" placeholder="e-mail" name="user" required>
        <input id="password-input" class="form-input" type="password" placeholder="wachtwoord" name="pass" autocomplete="on"
               required>
        <button id="login-button" class="form-button success-button">inloggen</button>
    </div>
</div>


<%- include ("../partials/footer.ejs") %>