@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/font.woff2") format('woff2');
}

body {
    background-color: #fff1ef;
    font-family: Avenir, Verdana, sans-serif;
}

.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
}

.sidenav h1{
    font-family: Verdana, sans-serif;
    justify-self: flex-start;
}

.sidenav button{
    width: 12vw;
}


#selected-nav {
    color: #fe3c2f;
    padding: 48px 48px 48px 48px;
}

.sidenav a {
    padding: 48px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
}

.sidenav a:hover {
    color: #fe3c2f;
}

main {
    padding: 8px;
    margin-left: calc(15% + 2%);
    margin-right: 2%;
}

.header {
    background-color: #fe3c2f;
    color: white;
    padding: 24px;
    border-radius: 16px;
}

.content, .content-detail-student, .content-detail-student-manual {
    background-color: white;
    padding: 8px 32px 32px;
    border-radius: 16px;
}

.content > #lijst-toewijzen > button{
    width: fit-content;
}

/*student progress page*/
.content-detail-student {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);

    height: 42vh;
    width: 76vw;
    top: 45vh;
    position: absolute;
}


.content-detail-student > h1 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: center;
}

.student-image {
    width: 650px;
    height: 450px;
    background: white;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 35vw;
    top: 18vh;
}

.voortgang {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

#progress-bar {
    width: 90%;
    background-color: #fff1ef;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-items: center;

}

#progress-bar > p {
    margin: 0;
}

#progress-bar > div {
    width: 0%;
    height: 15px;
    background-color: #fe3c2f;
    border-radius: 50px;
}

#progress-bar > #total-percentage {
    width: 0%;
    height: 15px;
    background-color: #fe3c2f;
    border-radius: 50px;
}

/*add student manually*/
#word-list-name-form-manual > *{
    margin : 0;
}

.content-detail-student-manual {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);

    height: 45vh;
}

.content-detail-student-manual > #word-list-name-form-manual {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.wordlist-item, .student-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 16px;
    box-shadow: 0 0 0 transparent;
    border: 0 solid transparent;
    text-shadow: 0 0 0 transparent;
    height: 20vh;
    width: 20vh;
    text-decoration: none;
    color: black;
    background: #fff1ef;
    cursor: pointer;
    border-radius: 16px;
    margin: 16px;
}

.add {
    color: #fe3c2f;
    font-size: 22px;
}

.wordlists-container, .students-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.wordlist-add-container {
    display: flex;
    justify-content: space-evenly;
}

.wordlist-add-select{
    height: 20vh;
    width: 40vh;
    font-weight: bold;
    font-size: 22px;
}

.hidden-file-input{
    visibility: hidden;
    height: 0;
    width: 0;
}

.file-input-label {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #fff1ef;
    cursor: pointer;
    height: 20vh;
    width: 40vh;
    font-weight: bold;
    font-size: 22px;
    border-radius: 16px;
    margin: 16px -10% 16px 16px;
}

#word-list-name-form, #class-list-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#class-list-form > div > input{
    margin:0;
}

#word-form{
    width: 100%;
}

.form-input {
    background-color: #fff1ef;
    height: 5vh;
    width: 20vw;
    border: 0px none;
    border-radius: 16px;
    padding: 8px;
    margin: 32px;
    font-size: 18px;
}

.form-button {
    border: 0px none;
    margin: 32px;
    padding: 8px;
    width: 15vw;
    height: 5vh;
    color: white;
    border-radius: 16px;
    font-size: 18px;
    cursor: pointer;
}
/**/
.success-button {
    background-color: #0aa304;
}

.cancel-button {
    background-color: #fe3c2f;
}

.delete-button {
    background-color: black;
}

#image-form {
    display: flex;
    justify-content: space-evenly;
}

.square-link {
    text-decoration: none;
}

.red-letter{
    color: #fe3c2f;
}

.auth-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-container {
    display: flex;
    background-color: white;
    margin: 64px;
    padding: 16px;
    justify-content: space-evenly;
    flex-direction: row;
    flex: 1;
    border-radius: 16px;
}

#register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-button {
    text-align: center;
    height: auto;
    text-decoration: none;
}

#dashboard-content{
    display: flex;
    flex-direction: column;
}

#dashboard-content > a {
    padding: 16px;
}

#error-back {
    font-size: large;
    font-weight: bold;
}

#image-upload-container{
    display: flex;
    flex-direction: column;
}

.divider{
    width: 2px;
    margin: 8px 0;
    background: #fff1ef;
}

#users-content-header{
    display: flex;
    flex-direction: row;
}

#users-content-header > a {
    margin-left: auto;
}

.user-item{
    display: flex;
    flex-direction: row;
}

.user-item > input[type=submit]{
    margin-left: auto;
}

.user-item > input[type=submit]:focus{
    outline: none;
}

