html, body, h1, h2 {
    height: 100%;
    margin: 0px;
}

/*Layout*/
#woordjes /*,#welcome, #goodbye*/ {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap: 5px;
}

/*Hallo scherm*/
#greeting {
    grid-row: 4 / 6;
    grid-column: 3 / 7;
    size: 50px;
    text-align: center;
}

#woord {
    grid-row: 3 / 4;
    grid-column: 3 / 7;
}

#image-container {
    grid-row: 4 / 7;
    grid-column: 3 / 7;
    border: 2px solid black;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

#image-container > img {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

