html, body, h1, h2 {
    height: 100%;
    margin: 0;
}

/*Layout*/
#woordjes /*,#welcome, #goodbye*/ {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap: 5px;
}

/*Hallo scherm*/
#greeting {
    size: 50px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    position:absolute;
    top: 7.5cm;
    left: 4.5cm;
}

/*Groet scherm*/
#goodbye {
    size: 50px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    position:absolute;
    top: 7.5cm;
    left: 4.5cm;
}

#didi-goodbye {
    width: 5.5cm;
    grid-row: 4 / 6;
    grid-column: 1 / 2;
}

#word-container {
    grid-row: 3 / 4;
    grid-column: 3 / 7;
    height: 45px;
    margin-top: 60px;

    background-color: lightgray;
    border-radius: 10px;
    position: relative;
}

#word-container > h1 {
    margin: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#image-container {
    grid-row: 4 / 7;
    grid-column: 3 / 7;
    border-radius: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    position: relative;
}

#image-container > img {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#didi-welcome {
    width: 5.5cm;
    grid-row: 4 / 6;
    grid-column: 1 / 2;
}

