<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="Login page for cms of vocab">
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/cms.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title><%= title %></title>
</head>
<body>
<div id="spinner" class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="content legal-container">
    <div class="legal-header">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="44"
                 height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <line x1="5" y1="12" x2="19" y2="12"/>
                <line x1="5" y1="12" x2="9" y2="16"/>
                <line x1="5" y1="12" x2="9" y2="8"/>
            </svg>
        </a>
        <a href="/en-privacy-policy">
            <img class="legal-flag" src="/img/uk-flag.svg">
        </a>
    </div>
    <h1 id="logo"><span>v</span><span class="red-letter">o</span><span>c</span><span
                class="red-letter">a</span><span>b</span>
    </h1>
    <hr>
    <h2>Privacybeleid</h2>
    <h4>Ingangsdatum: Juli 02, 2020</h4>
    <p>
        Felson BV, te Amsterdam eigenaar van <a href="https://vocab-project.web.app/">vocab-project.web.app</a> ("ons", "wij" of "onze") beheert de Google Action bekend als  <br> <br>

        Project name = Voicab <br>
        Project ID = example-woordjes <br>
        Project number = 743192462090 <br> <br>

        ("hierna genoemd Dienst"). <br> <br>

        Deze pagina bevat informatie over ons beleid met betrekking tot de <br>
        verzameling, het gebruik en de openbaarmaking van uw persoonsgegevens wanneer <br>
        u onze Dienst gebruikt. <br>
    </p>
    <h3>Persoonsgegevens</h3>
    <p>
        De Dienst gebruikt geen persoonsgegevens. <br>
        De Dienst verzamelt geen persoonsgegevens. <br>
        De Dienst gebruikt slaat geen persoonsgegevens op. <br> <br>

        Persoonsgegevens zijn bepaalde persoonlijk identificeerbare informatie die kan worden gebruikt om contact
        op te nemen met u of om u te identificeren ("Persoonsgegevens"). <br>
    </p>
    <h3>Gebruikersgegevens</h3>
    <p>
        De Dienst slaat geen gebruikersgegevens op. <br> <br>

        Onder gebruiksgegevens verstaan wij automatisch verzamelde gegevens die worden gegenereerd door het gebruik van de Dienst of van de infrastructuur
        van de Dienst zelf. <br>
    </p>
    <h3>Delen Met Anderen</h3>
    <p>
        De Dienst verstrekt geen persoonsgegevens aan derden.
    </p>
    <h3>Tracking En Cookiegegevens</h3>
    <p>
        De Dienst gebruikt geen cookies en soortgelijke volgtechnologieën.
    </p>
        <h3>Dienstverleners</h3>
    <p>
        Wij kunnen externe bedrijven en personen aanstellen om de Dienst te vereenvoudigen, <br>
        om diensten uit te voeren in het kader van onze Dienst of om ons te helpen bij <br>
        de analyse van hoe onze Dienst wordt gebruikt. <br>
    </p>
    <h3>Privacy Van Kinderen</h3>
    <p>
        Wij verzamelen nooit bewust persoonlijk identificeerbare informatie van iemand
        die jonger is dan 18 jaar oud. <br> <br>
        Als u een ouder of voogd bent en u stelt vast
        dat uw kind ons persoonsgegevens heeft geleverd, vragen wij u contact op te
        nemen met ons. <br> <br>
        Als u vaststelt dat wij persoonsgegevens hebben verzameld van
        kinderen zonder de verificatie van ouderlijk toezicht zullen wij de nodige
        stappen ondernemen om die informatie te verwijderen van onze servers. <br>
    </p>
    <h3>Wijzigingen Aan Dit Privacybeleid</h3>
    <p>
        Wij kunnen ons Privacybeleid op gezette tijden bijwerken. Wij zullen u op de
        hoogte brengen van eventuele wijzigingen door het nieuwe Privacybeleid te
        publiceren op deze pagina. <br> <br>

        Wij zullen u op de hoogte brengen via e-mail en/of een duidelijke melding op
        onze Dienst voor de wijzigingen van kracht gaan en wij zullen de
        "aanvangsdatum" bijwerken die vermeld staat bovenaan in dit Privacybeleid. <br> <br>

        Wij raden u aan dit Privacybeleid regelmatig te controleren op eventuele
        wijzigingen. Wijzigingen aan dit Privacybeleid gaan van kracht op het moment
        dat ze worden gepubliceerd op deze pagina. <br>
    </p>
    <h3>Contact opnemen</h3>
    <p>
        Als u vragen hebt over dit Privacybeleid kunt u contact opnemen met ons: <br> <br>
        Via deze pagina op onze website: <br>
    </p>
    <a href="https://vocab-project.web.app/">vocab-project.web.app</a>
</div>


<%- include ("../partials/footer.ejs") %>
