<%- include ("./partials/head.ejs") %>
<main>
    <h1 class="header">Woordenlijsten</h1>
    <form method="post">
        <label for="fname">Word for database</label><br>
        <input type="text" id="word" name="word" placeholder="Enter a word here:" required><br>
        <input type="submit" value="Submit Word">
    </form>
</main>

<%- include ("./partials/footer.ejs") %>