<%- include ("./partials/head.ejs") %>

<h1>CMS</h1>
<h2>Uploaded word : <%= uploadedWord %></h2>
<form method="post" >
    <label for="fname">Word for database</label><br>
    <input type="text" id="word" name="word" placeholder="Enter a word here:" required><br>
    <input type="submit" value="Submit Word">
</form>

<%- include ("./partials/footer.ejs") %>
