<%- include ("../partials/head.ejs") %>

<main>
    <h1 class="header">Klassenlijsten</h1>
    <div class="listview-content">
        <div class="wordlists-container">
            <% klas.forEach(klas => { %>
                <a class="rect-link" href="class-lists/<%= klas.id %>">
                    <button class="rect-item"><%= klas.data().naam %></button>
                </a>
            <% }); %>
                <a class="rect-link" href="class-lists/add-class">
                    <button class="rect-item add">+</button>
                </a>
        </div>
    </div>
</main>

<%- include ("../partials/footer.ejs") %>