<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="CMS of vocab">
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/cms.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title><%= title %></title>
</head>
<body>
<div id="spinner" class="lds-ring"><div></div><div></div><div></div><div></div></div>
<div class="sidenav">
    <h1><span>v</span><span class="red-letter">o</span><span>c</span><span class="red-letter">a</span><span>b</span>
    </h1>
    <nav>
        <% switch(dest) {
        case "dashboard": %>
        <a id=selected-nav href="/cms/dashboard">Dashboard</a>
        <a href="/cms/word-lists">Woordenlijsten</a>
        <a href="/cms/class-lists">Klassenlijsten</a>
        <a href="/cms/users">Gebruikers</a>
        <% break;

        case "wordlists": %>
        <a href="/cms/dashboard">Dashboard</a>
        <a id=selected-nav href="/cms/word-lists">Woordenlijsten</a>
        <a href="/cms/class-lists">Klassenlijsten</a>
        <a href="/cms/users">Gebruikers</a>
        <% break;

        case "classlists": %>
        <a href="/cms/dashboard">Dashboard</a>
        <a href="/cms/word-lists">Woordenlijsten</a>
        <a id=selected-nav href="/cms/class-lists">Klassenlijsten</a>
        <a href="/cms/users">Gebruikers</a>
        <% break;

        case "users": %>
        <a href="/cms/dashboard">Dashboard</a>
        <a href="/cms/word-lists">Woordenlijsten</a>
        <a href="/cms/class-lists">Klassenlijsten</a>
        <a id=selected-nav href="/cms/users">Gebruikers</a>
        <% break;

        default: %>
        <a href="/cms/dashboard">Dashboard</a>
        <a href="/cms/word-lists">Woordenlijsten</a>
        <a href="/cms/class-lists">Klassenlijsten</a>
        <a href="/cms/users">Gebruikers</a>
        <% break;
        } %>
    </nav>
    <a href="/cms/logout"><button id="logout-button" class="form-button cancel-button">Uitloggen</button></a>
</div>