<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Avenir">
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/cms.css"/>
    <title><%= title %></title>
</head>
<body>
<div class="sidenav">
    <h1>Vocab</h1>
    <nav>
        <a href="/db">Dashboard</a>
        <a href="/cms">Woordenlijsten</a>
        <a href="/ass">Klassenlijsten</a>
        <a href="/dc">Docenten Chat</a>
    </nav>
</div>